@import "./variable";

@mixin respond($breakpoint) {
    
    @if $breakpoint == tablet {
        @media only screen and (min-width: $phone) and (max-width: $tablet) {
            @content;
        }
    }

    @if $breakpoint == mobile {
        @media only screen and (max-width: $tablet) {
            @content;
        }
    }

    @if $breakpoint == desktop {
        @media only screen and (min-width: $phone) {
            @content;
        }
    }

    @if $breakpoint == phone {
        @media only screen and (max-width: $phone) {
            @content;
        }
    }
}

@mixin transition-ease {
    transition: all 0.5s ease-in-out;
}

@mixin responsiveElementContainer($width) {
    .r-element-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax($width, 1fr));
        column-gap: 2rem;
    }
}

@mixin themeColor($light: true) {
    @if ($light) {
        background: $light-color;
        color: $dark-color;
    } @else {
        background: $dark-color;
        color: $light-color;
    }
}

@mixin flex-align-column($align-direction) {
    display: flex;
    flex-direction: column;
    @if $align-direction == top-left {
        align-items: flex-start;
        justify-content: flex-start;
    }
    @if $align-direction == top-middle {
        align-items: center;
        justify-content: flex-start;
    }
    @if $align-direction == top-right {
        align-items: flex-end;
        justify-content: flex-start;
    }
    @if $align-direction == base-left {
        align-items: flex-start;
        justify-content: center;
    }
    @if $align-direction == base-middle {
        align-items: center;
        justify-content: center;
    }
    @if $align-direction == base-right {
        align-items: flex-end;
        justify-content: center;
    }
    @if $align-direction == bottom-left {
        align-items: flex-start;
        justify-content: flex-end;
    }
    @if $align-direction == bottom-middle {
        align-items: center;
        justify-content: flex-end;
    }
    @if $align-direction == bottom-right {
        align-items: flex-end;
        justify-content: flex-end;
    }
}

@mixin flex-align-row($align-direction) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @if $align-direction == base-middle {
        align-items: center;
        justify-content: center;
    }
}

@function set-text-color($color) {
    @if (lightness($color) > 40%) {
        @return $primary-2;
    } @else {
        @return $primary-1;
    }
}

@mixin underline-font($color) {
    box-shadow: 0px 2px $color;
}
