@import "../../styles/global.scss";
@import "../../styles/mixin";
@import "../../styles/variable";

.tabs__btn__container {
  margin: 2rem auto;
  display: flex;
  justify-content: baseline;
  align-items: baseline;

  .tabs__title {
    @include respond(mobile) {
      &--desktop {
        display: none;
        opacity: 0;
      }
    }
  }

  .tabs__icon {
    height: 3rem;
    width: 3rem;
    margin-bottom: 0.5rem;
  }

  .tabs__btn {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 2rem 0;
    color: $primary-1;
    font-family: inherit;
    font-size: 1.5rem;
    background-color: grey;
    opacity: 0.6;
    text-decoration: none;
    border-bottom: 4px solid opacify($color: $primary-2, $amount: 0.6);

    &:hover {
      cursor: pointer;
      color: $primary-2;
    }
    @include respond(mobile) {
      padding: 0.5rem;
    }
  }
  & .active--btn {
    opacity: 1;
    border-bottom: 4px solid $primary-2;
  }
}

.tab__text__container {
  .tab__text__title {
    @include respond(desktop) {
      &--mobile {
        display: none;
        opacity: 0;
      }
    }
    @include respond(mobile) {
      &--desktop {
        display: none;
        opacity: 0;
      }
    }
  }

  ul {
    margin-top: $li-margin-bottom;
    // margin-left: $li-margin-bottom;
  }
  .tab__text {
    @include flex-align-row(base-middle);
    &:not(:last-child) {
      margin-bottom: $li-margin-bottom;
    }
    .tab__text__bullet {
      height: 100%;
      display: flex;
      font-size: $li-fontSize;
      margin-right: $li-bullet-margin-right;
    }
  }
}
