@import "../../styles/global.scss";
@import "../../styles/_variable.scss";

$sidebar-wrapper-padding: 3rem;

.sidebar-wrapper {
  color: $primary-2;
  background-color: $primary-1;
  padding: $sidebar-wrapper-padding;

  &__about-container {
    .button {
      display: inline-block;
      padding: 0.5rem;
      background-color: $primary-2;
      margin: 4rem auto;
    }
  }
}
