@import "../../styles/global.scss";
@import "../../styles/mixin";
@import "../../styles/variable";

.features__container {
  padding: $margin-top-section $padding-index-rl 0;
  margin: 1rem auto;
  display: flex;
  .feature {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 1rem;
    &__icon {
      height: 5rem;
      margin: 2rem auto;
    }
    // p {
    //   padding: 0.5rem;
    // }
  }
}

@include respond(desktop) {
  .features__container {
    flex-direction: row;
    align-self: start;
    .feature {
      width: 30%;
    }
  }
}

@include respond(mobile) {
  .features__container {
    flex-direction: column;
    .feature {
      width: 75%;
      margin: 1rem auto;
    }
  }
}
